%header.jumbotron
  %h1
    .pull-right
      %a{:class => 'btn btn-success', :href => url('web_hooks/new')} New Web Hook
    %span.text-quiet Exception /
    %span Web Hooks


- WebHook::EVENT_TYPES.map do |event|
  .row
    .span12
      .page-header
        %h2= event
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.span1 Secure?
            %th URL
            %th.span1 Actions
        %tbody
          - if WebHook.where(:event => event).count == 0
            %tr
              %td{:colspan => 3}
                No web hooks registered.
          - WebHook.where(:event => event).load.map do |hook|
            %tr
              %td
                - if hook.secure
                  %i.icon.icon-check
                - else
                  %i.icon.icon-remove
              %td= hook.url
              %td
                = form(url("web_hooks/#{hook.id}"), :delete)
                = submit('Remove', {:class => 'btn btn-danger'})
                = '</form>'
