%header.jumbotron
  %h1
    %span.text-quiet Exception /
    %span Digest Set
    %small= resource.digest

.row
  .span12
    .page-header
      .pull-right
        %p.label.label-info= resource.tag
        %p.label= resource.environment
      %h2
        = resource.class_name
        %small= resource.message
.row
  .span12
    - unless resource.resolved?
      .pull-right
        %form{:action => url("digests/#{resource.digest}"), :class => 'simple_form edit_flail_exception', :"data-remote" => 'true', :id => "edit_flail_exception_#{resource.id}", :method => 'post', :novalidate => 'novalidate'}
          %button{:type => 'submit', :class => 'btn btn-success'}
            %i{:class => 'icon-check'}
            Resolve
        %a{:class => 'btn btn-warning btn-block', :href => "filters/new?digest=#{resource.digest}"}
          %i{:class => 'icon-filter'}
          Filter

    %dl.exception-info
      %dt.text-quiet Occurred
      %dd= resource.created_at.strftime('%Y-%d-%m %l:%M:%S %p')
      %dt.text-quiet Where
      %dd
        %a{:href => url(resource.target_url)}
          =resource.target_url
      %dt.text-quiet Server
      %dd= resource.hostname
    %hr
.row
  .span12
    .tabbable
      .pull-right.pull-relative
        .pager.pager-with-tabs
          - if params[:offset].to_i <= 0
            %li.disabled
              %a
                %i{:class => 'icon-arrow-left'}
                Previous
          - else
            %li
              %a{:href => "#{resource.digest}?offset=#{(params[:offset].to_i - 1)}"}
                %i{:class => 'icon-arrow-left'}
                Previous
          %li.text-danger.text-large.well-exception== #{params[:offset].to_i + 1} / #{resource.occurrences.count}
          - if params[:offset].to_i >= (resource.occurrences.count - 1)
            %li.disabled
              %a
                Next
                %i{:class => 'icon-arrow-right'}
          - else
            %li
              %a{:href => "#{resource.digest}?offset=#{(params[:offset].to_i + 1)}"}
                Next
                %i{:class => 'icon-arrow-right'}
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle' => 'tab', :href => '#backtrace'} Backtrace
        %li
          %a{'data-toggle' => 'tab', :href => '#params'} Parameters
        %li
          %a{'data-toggle' => 'tab', :href => '#user'} User
        %li
          %a{'data-toggle' => 'tab', :href => '#env'} Env
      .tab-content
        #backtrace.tab-pane.active
          %table.table.table-striped.traces
            - resource.backtrace.each do |trace|
              %tr
                %td.line= trace[:number]
                %td
                  .trace
                    %span.file= trace[:file]
                    %span.text-quiet
                      %i{:class => 'icon-arrow-right'}
                    %span.desc= trace[:method]
        #params.tab-pane
          %pre= Rack::Utils.escape_html(resource.params.inspect)
        #user.tab-pane
          %pre= Rack::Utils.escape_html(resource.user.inspect)
        #env.tab-pane
          %pre= Rack::Utils.escape_html(resource.rack.inspect)
