%fieldset
  %legend Limiting Parameters (at least one required)
  = label(:filter, :class_name, 'Class name')
  = input(:filter, :class_name, {:value => @filter ? @filter.class_name : ''})
  = label(:filter, :message, 'Message')
  = textarea(:filter, :message, @filter ? Rack::Utils.escape_html(@filter.message) : '', {:class => 'span6', :rows => '3'})
  = label(:filter, :user_agent, 'User agent')
  = input(:filter, :user_agent, {:value => @filter ? @filter.user_agent : '', :class => 'span6'})
  = label(:filter, :request_params, 'Request parameters to match (in JSON)')
  = input(:filter, :request_params, {:value => @filter ? @filter.request_params : '{}'})
%fieldset
  %legend General Parameters
  = label(:filter, :tag, 'Tag')
  = input(:filter, :tag, {:value => @filter ? @filter.tag : ''})
  = label(:filter, :environment, 'Environment')
  = input(:filter, :environment, {:value => @filter ? @filter.environment : ''})
  = label(:filter, :target_url, 'Target url')
  = input(:filter, :target_url, {:value => @filter ? @filter.target_url : '', :class => 'span6'})
  = label(:filter, :hostname, 'Hostname')
  = input(:filter, :hostname, {:value => @filter ? @filter.hostname : ''})
