%header.jumbotron
  %h1
    .pull-right
      %a{:class => 'btn btn-success', :href => url('filters/new')} New Filter
    %span.text-quiet Exception /
    %span Filters

.row
  .span12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:width => '190px'} Summary
          %th Message and Other Parameters
          %th{:width => '50px'} Filtered
          %th{:width => '230px'} Actions
      %tbody
        - if Filter.count == 0
          %tr
            %td{colspan: 3}
              No filters registered.
        - for filter in @collection do
          %tr
            %td.filter-summary
              = filter.print_class_name
              .pull-left
                %p.label.label-info
                  = filter.print_tag
              .pull-right
                %p.label
                  = filter.print_environment
            %td
              = filter.print_message
              - filter.other_parameters.each do |param_name, param_value|
                %dt.text-quiet
                  = "#{param_name}: "
                  = param_value
            %td= filter.exceptions_caught
            %td.filter-actions
              %a{:class => 'btn btn-info', :href => url("filters/#{filter.id}")}
                %i{:class => 'icon-list-alt'}
                View
              %a{:class => 'btn btn-warning', :href => url("filters/#{filter.id}/edit")}
                %i{:class => 'icon-edit'}
                Edit
              = form(url("filters/#{filter.id}"), :delete)
              = submit_with_pre_icon('Remove', 'icon-remove', {:class => 'btn btn-danger'})
              = '</form>'
