%header.jumbotron
  %h1
    %span.text-quiet Exception /
    %span Overview

.row
  .span12
    .hide
      %a{:href => "javascript:;", :"data-d3-active" => "true", :"data-d3-source" => url('/flail_exceptions'), :"data-d3-target" => "#exceptions-chart", :"data-d3-type" => "bar-chart"}
        last 24 hours
    #exceptions-chart.d3-bar.d3-vertical
    .clearfix

.row
  .span12
    .page-header
      %h2 Unresolved Exceptions
    #exceptions-unresolved
      - FlailException.digested(@collection).map do |fes|
        .well.well-exception{:id => "digest_#{fes.first.digest}"}
          .pull-right
            %p.label.label-info= fes.first.tag
            %p.label= fes.first.environment
          .occurences.pull-left
            %h2
              .text-danger= fes.first.occurrences.count
              %small occurrences
          %h4
            %span
              %a{:href => "/flail/digests/#{fes.first.digest}"}
                =fes.first.class_name
            %small== last occurence #{fes.first.created_at}
          %p.message= Rack::Utils.escape_html(fes.first.message)
          .clearfix
          .actions
            %form{:action => url("digests/#{fes.first.digest}"), :class => 'simple_form edit_flail_exception', :"data-remote" => 'true', :id => "edit_flail_exception_#{fes.first.id}", :method => 'post', :novalidate => 'novalidate'}
              %button{:type => 'submit', :class => 'btn btn-success'}
                %i{:class => 'icon icon-check'}
                Resolve
