%header.jumbotron
  %h1
    %span.text-quiet Exception /
    %span Overview

.row
  .span12
    #chart

.row
  .span12
    .page-header
      %h2 Unresolved Exceptions
    #exceptions-unresolved
      - FlailException.digested(@collection).map do |fes|
        .well.well-exception{:id => "digest_#{fes.first.digest}"}
          .pull-right
            %p.label.label-info= fes.first.tag
            %p.label= fes.first.environment
          .occurences.pull-left
            %h2
              .text-danger= fes.first.occurrences.count
              %small occurrences
          %h4
            %span
              %a{:href => "#{url('/')}digests/#{fes.first.digest}"}
                = fes.first.class_name
            %small== last occurence #{fes.first.created_at}
          %p.message= Rack::Utils.escape_html(fes.first.message.to_s[0..160])
          .clearfix
          .actions
            %form{:action => url("digests/#{fes.first.digest}"), :class => 'simple_form resolve-exception', :id => "edit_flail_exception_#{fes.first.id}", :method => 'post', :novalidate => 'novalidate', 'data-target' => "#digest_#{fes.first.digest}"}
              %button{:type => 'submit', :class => 'btn btn-success'}
                %i{:class => 'icon icon-check'}
                Resolve

%script{:type => 'text/javascript', :src => url('js/chart.js') }
