!!!
%html
  %head
    %title Flail
    %link{:media => 'all', :rel => 'stylesheet', :type => 'text/css', :href => url('application.stylesheet') }
    %script{:type => 'text/javascript', :src => url('js/bootstrap.min.js') }
    -# = csrf_meta_tags
  %body{:class => "flail_exceptions"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class => 'brand', :href => url('/')} flail
          %ul.nav.pull-right
            %li{:class => params[:controller] == 'web_hooks' ? 'active' : ''}
              %a{:href => url('/web_hooks')} web hooks
          %ul.nav.pull-right
            %li{:class => params[:controller] == 'filters' ? 'active' : ''}
              %a{:href => url('/filters')} filters

    .subnav.subnav-fixed
      %ul.nav.nav-pills
        - FlailException.tags.map do |tag|
          %li{:class => active?(tag)}
            %a{:href => url("/?tagged=#{tag}")}
              =tag

    .container
      .row
        .span12
          - if flash[:alert]
            .alert
              = flash[:alert]
          - if flash[:error]
            .alert.alert-danger
              = flash[:error]
          - if flash[:notice]
            .alert.alert-info
              = flash[:notice]

      = yield

      %footer.footer
        %blockquote
          %p You're doing it wrong.

